{
   'data_file' : './resources/crime.csv',
   'data_project_columns' : ['City','Murder','Assault','UrbanPop','Rape'],
   'k' : 4,
   'cluster_atts' : ['Murder','Assault','UrbanPop','Rape'],
   'plot_config' :
    {'output_file_prefix' : 'crime_clustering',
     'plots_configs': [
        {'plot_atts' : ['Murder', 'Assault']},
        {'plot_atts' : ['Murder', 'UrbanPop']},
        {'plot_atts' : ['Murder', 'Rape']},
        {'plot_atts' : ['Assault', 'UrbanPop']}
     ]
   }
}
